<section class="gallery" id="gallery">
  <div class="container">
    <h2 class="gallery-title">Breathe in the Space</h2>
    <p class="gallery-desc">
      Step inside YogaBloom and feel the calm. Explore our serene studio and the
      peaceful moments our community shares during each session.
    </p>

    <div class="photo-gallery">
      <ul class="gallery-list">
        <li class="gallery-item">
          <picture>
            <source
              srcset="
                ./img/Section-gallery/Gallery1-desktop1x.jpg 1x,
                ./img/Section-gallery/Gallery1-desktop2x.jpg 2x
              "
              media="(min-width: 1336px)"
            />
            <source
              srcset="
                ./img/Section-gallery/Gallery1-tab1x.jpg 1x,
                ./img/Section-gallery/Gallery1-tab2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./img/Section-gallery/Gallery1-mob1x.jpg"
              srcset="./img/Section-gallery/Gallery1-mob2x.jpg 2x"
              alt="Yoga group"
              width="156"
              height="156"
              class="gallery-img"
            />
          </picture>
        </li>
        <li class="gallery-item">
          <picture>
            <source
              srcset="
                ./img/Section-gallery/Gallery2-desktop1x.jpg 1x,
                ./img/Section-gallery/Gallery2-desktop2x.jpg 2x
              "
              media="(min-width: 1336px)"
            />
            <source
              srcset="
                ./img/Section-gallery/Gallery2-tab1x.jpg 1x,
                ./img/Section-gallery/Gallery2-tab2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./img/Section-gallery/Gallery2-mob1x.jpg"
              srcset="./img/Section-gallery/Gallery2-mob2x.jpg 2x"
              alt="Yoga group"
              width="156"
              height="156"
              class="gallery-img"
            />
          </picture>
        </li>
        <li class="gallery-item">
          <picture>
            <source
              srcset="
                ./img/Section-gallery/Gallery3-desktop1x.jpg 1x,
                ./img/Section-gallery/Gallery3-desktop2x.jpg 2x
              "
              media="(min-width: 1336px)"
            />
            <source
              srcset="
                ./img/Section-gallery/Gallery3-tab1x.jpg 1x,
                ./img/Section-gallery/Gallery3-tab2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./img/Section-gallery/Gallery3-mob1x.jpg"
              srcset="./img/Section-gallery/Gallery3-mob2x.jpg 2x"
              alt="Yoga space"
              width="156"
              height="156"
              class="gallery-img"
            />
          </picture>
        </li>
        <li class="gallery-item">
          <picture>
            <source
              srcset="
                ./img/Section-gallery/Gallery4-desktop1x.jpg 1x,
                ./img/Section-gallery/Gallery4-desktop2x.jpg 2x
              "
              media="(min-width: 1336px)"
            />
            <source
              srcset="
                ./img/Section-gallery/Gallery4-tab1x.jpg 1x,
                ./img/Section-gallery/Gallery4-tab2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./img/Section-gallery/Gallery4-mob1x.jpg"
              srcset="./img/Section-gallery/Gallery4-mob2x.jpg 2x"
              alt="Yoga space"
              width="156"
              height="156"
              class="gallery-img"
            />
          </picture>
        </li>
        <li class="gallery-item">
          <picture>
            <source
              srcset="
                ./img/Section-gallery/Gallery5-desktop1x.jpg 1x,
                ./img/Section-gallery/Gallery5-desktop2x.jpg 2x
              "
              media="(min-width: 1336px)"
            />
            <source
              srcset="
                ./img/Section-gallery/Gallery5-tab1x.jpg 1x,
                ./img/Section-gallery/Gallery5-tab2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./img/Section-gallery/Gallery5-mob1x.jpg"
              srcset="./img/Section-gallery/Gallery5-mob2x.jpg 2x"
              alt="Yoga group"
              width="156"
              height="156"
              class="gallery-img"
            />
          </picture>
        </li>
        <li class="gallery-item">
          <picture>
            <source
              srcset="
                ./img/Section-gallery/Gallery6-desktop1x.jpg 1x,
                ./img/Section-gallery/Gallery6-desktop2x.jpg 2x
              "
              media="(min-width: 1336px)"
            />
            <source
              srcset="
                ./img/Section-gallery/Gallery6-tab1x.jpg 1x,
                ./img/Section-gallery/Gallery6-tab2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./img/Section-gallery/Gallery6-mob1x.jpg"
              srcset="./img/Section-gallery/Gallery6-mob2x.jpg 2x"
              alt="Yoga group"
              width="156"
              height="156"
              class="gallery-img"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
