<div class="modal-overlay is-open">
  <div class="modal">
    <div class="modal-button">
      <button class="modal-close" type="button">
        <svg width="15" height="15">
          <use href="/img/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <p class="modal-text">Join Now!</p>
    <div class="modal-text-wrapper">
      <p class="text-one">One Session</p>
      <p class="text-prise">$10</p>
    </div>
    <form class="modal-form">
      <div class="modal-form-modern">
        <label for="name" class="lable-modal">Your Name</label>
        <div class="modal-wrapper">
          <input
            placeholder="Please enter your name"
            type="text"
            name="name"
            class="input-text"
            id="name"
            required
          />
        </div>
      </div>
      <div class="modal-form-modern">
        <label for="email" class="lable-modal">Email</label>
        <div class="modal-wrapper">
          <input
            placeholder="Please enter your email"
            type="email"
            name="email"
            class="input-text"
            id="email"
            required
          />
        </div>
        <div class="modal-form-modern">
          <label for="tel" class="lable-modal">Phone number</label>
          <div class="modal-wrapper">
            <input
              placeholder="Please enter your phone number"
              type="tel"
              name="tel"
              class="input-text"
              maxlength="10"
              minlength="4"
              id="tel"
              required
            />
          </div>
        </div>
      </div>
      <div class="modal-send-button">
        <button type="submit" class="modal-send">Go to checkout</button>
      </div>
    </form>
  </div>
</div>
<div class="modal-overlay">
  <div class="modal">
    <div class="modal-button">
      <button class="modal-close" type="button">
        <svg width="15" height="15">
          <use href="/img/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <p class="modal-text">Join Now!</p>
    <div class="modal-text-wrapper">
      <p class="text-one">8 Sessions Package</p>
      <p class="text-prise">$65</p>
    </div>
    <form class="modal-form">
      <div class="modal-form-modern">
        <label for="name" class="lable-modal">Your Name</label>
        <div class="modal-wrapper">
          <input
            placeholder="Please enter your name"
            type="text"
            name="name"
            class="input-text"
            id="name"
            required
          />
        </div>
      </div>
      <div class="modal-form-modern">
        <label for="email" class="lable-modal">Email</label>
        <div class="modal-wrapper">
          <input
            placeholder="Please enter your email"
            type="email"
            name="email"
            class="input-text"
            id="email"
            required
          />
        </div>
        <div class="modal-form-modern">
          <label for="tel" class="lable-modal">Phone number</label>
          <div class="modal-wrapper">
            <input
              placeholder="Please enter your phone number"
              type="tel"
              name="tel"
              class="input-text"
              maxlength="10"
              minlength="4"
              id="tel"
              required
            />
          </div>
        </div>
      </div>
      <div class="modal-send-button">
        <button type="submit" class="modal-send">Go to checkout</button>
      </div>
    </form>
  </div>
</div>
<div class="modal-overlay">
  <div class="modal">
    <div class="modal-button">
      <button class="modal-close" type="button">
        <svg width="15" height="15">
          <use href="/img/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <p class="modal-text">Join Now!</p>
    <div class="modal-text-wrapper">
      <p class="text-one">12 Sessions Package</p>
      <p class="text-prise">$80</p>
    </div>
    <form class="modal-form">
      <div class="modal-form-modern">
        <label for="name" class="lable-modal">Your Name</label>
        <div class="modal-wrapper">
          <input
            placeholder="Please enter your name"
            type="text"
            name="name"
            class="input-text"
            id="name"
            required
          />
        </div>
      </div>
      <div class="modal-form-modern">
        <label for="email" class="lable-modal">Email</label>
        <div class="modal-wrapper">
          <input
            placeholder="Please enter your email"
            type="email"
            name="email"
            class="input-text"
            id="email"
            required
          />
        </div>
        <div class="modal-form-modern">
          <label for="tel" class="lable-modal">Phone number</label>
          <div class="modal-wrapper">
            <input
              placeholder="Please enter your phone number"
              type="tel"
              name="tel"
              class="input-text"
              maxlength="10"
              minlength="4"
              id="tel"
              required
            />
          </div>
        </div>
      </div>
      <div class="modal-send-button">
        <button type="submit" class="modal-send">Go to checkout</button>
      </div>
    </form>
  </div>
</div>
