.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  background-color: #dfebeb;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 375px;
  min-height: 623px;
  padding: 64px 16px 24px 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-close {
  background-color: transparent;
  width: 32px;
  height: 32px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 16px;
  right: 16px;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: rgba(13, 11, 10, 0.05);
}

.modal-text {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #0d0b0a;
  margin-bottom: 32px;
}

.modal-text-wrapper {
  margin-bottom: 32px;
}

.text-one {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;
  color: #0d0b0a;
  margin-bottom: 8px;
}

.text-prise {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #0d0b0a;
}

.modal-form {
  display: block;
}

.modal-form-modern {
  margin-bottom: 24px;
}

.modal-form-modern:last-child {
  margin-top: 24px;
}

.lable-modal {
  font-family: 'Sarabun', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #0d0b0a;
}

.modal-wrapper {
  margin-top: 8px;
}

.input-text {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 12px;
  height: 42px;
  width: 100%;
  background-color: rgba(13, 11, 10, 0.05);
  padding: 8px 12px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-text::placeholder {
  font-family: 'Sarabun', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: rgba(13, 11, 10, 0.6);
}

.input-text:focus {
  border: 1px solid #4d5ae5;
}

.input-text:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.modal-send-button {
  display: flex;
}

.modal-send {
  font-family: 'Sarabun', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #0d0b0a;
  background-color: #c2d9fc;
  border: 1px solid #c2d9fc;
  border-radius: 100px;
  padding: 10px 24px;
  width: 343px;
  height: 46px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: rgba(13, 11, 10, 0.05);
}

.modal-send:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: rgba(13, 11, 10, 0.05);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 704px;
    padding: 64px 92px;
  }

  .modal-text {
    margin-bottom: 24px;
  }

  .modal-text-wrapper {
    margin-bottom: 24px;
  }

  .modal-email-phone {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
  }

  .modal-form-modern {
    margin-bottom: 0;
  }

  .modal-form-modern:last-child {
    margin-top: 0;
  }

  .modal-send-button {
    margin-top: 24px;
  }

  .leng {
    width: 248px;
  }

  .modal-send-button {
    justify-content: center;
  }

  .modal-send {
    width: 155px;
    height: 46px;
    padding: 1px 6px;
  }
}

@media screen and (min-width: 1336px) {
  .modal {
    width: 768px;
    padding: 64px;
  }

  .leng {
    width: 308px;
  }
}
